<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>simple-node</title>
  </head>
  <body>
    <nav>
      <ul>
        <li class="active-nav-link"><a href="#">HOME</a></li>
        <li><a href="#">SAMPLE</a></li>
        <li><a href="#">SAMPLE</a></li>
        <li><a href="#">SAMPLE</a></li>
      </ul>

      <div>JOSHUA LONG</div>
    </nav>
    <section class="basic-grid">
      <div
        class="card"
        style="background-image: url(images/portfolio1.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio12.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio3.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio4.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio5.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio6.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio7.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio8.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio9.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio10.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio11.jpg)"
      ></div>
      <div
        class="card"
        style="background-image: url(images/portfolio12.jpg)"
      ></div>
    </section>
  </body>
</html>
